body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

section img {
    max-width: 50%;
    height: auto;
    margin-top: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 1em;
}

ul li img {
    width: 50px;
    height: 180px;
    display: block;
    margin-top: 0.5em;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li a:hover{
color: blue;
font-size: 20px;
}