.Titulo {

color: purple; font-family: cursive;
background-color: plum;

}

.Titulo2 {

color: slateblue; font-family: cursive;
background-color: khaki;
}

.Titulo3 {

color: chocolate; font-family: cursive;

}

.Parrafo {

color: green; font-family: cursive;

}

.Final {

color: royalblue; font-family: cursive;

}