body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;   
    background-color: red;

}

header {
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

section {
    padding: 50px 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
