body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo */
}

header {
    background-color: #FFD700; /* Amarillo */
    color: #000; /* Negro */
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #1E90FF; /* Azul */
    color: #fff; /* Blanco */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff; /* Blanco */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

footer {
    background-color: #FFD700; /* Amarillo */
    color: #000; /* Negro */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}